.generalSection
{        font-family: "Poppins", sans-serif;
        font-weight: 400;   


    .row-1
    {
        display: flex;
        gap: 1rem;

        .row-1-item
        {
            position: relative;
            cursor: pointer;
            padding: 0.8rem;
            width: 9rem;
            height: 5rem;
            font-family: "Poppins", sans-serif;
            font-weight: 400;   
            border: 1px solid gray;
            &.item-1
            {
                background-color: rgb(60, 60, 255);
                color: white;
            }
            &.item-1:hover{
                background-color: blue;
                color: white;

            }
            img
            {
                height: 2rem;
                width: 2rem;
            }
            .input-uploader
            {
                position: absolute;
                top:0;
                left: 0;
                width: 9rem;
                height: 5rem;
                opacity: 0;
                cursor: pointer;
            }
        }
        .row-1-item:hover
        {
            background-color: rgba(223, 219, 209, 0.82);
        }
    }
    .row-2
    {
        display: flex;
        margin-top: 2rem;
        font-size: 1.5rem;
        align-items: center;
        img
        {
            padding-left: 0.5rem;
            height: 2rem;
            width: 2rem;
            cursor: pointer;
        }
    }
    .row-3
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        gap: 1rem;
        .card
        {
            width: 11rem;
            .thumbnail
            {
              position: relative;
              height: 11rem;
              background-color: rgb(244 241 234 / 82%);
              padding: 1rem;
              display: flex;
              align-items: center;
              justify-content: center;
              img
              {
                height: 70%;
                width: 90%;
              }
              .options
              {
                opacity: 0;
                position: absolute;
                top: 1rem;
                right: 0rem;
                z-index: 100;
                height: 15%;
                width: 15%;
                img
                {
                    height: 15%;
                    width: 15%;
                }
                
            
              }
              .optionsVisible
              {
                @extend .options;
                opacity: 1;
              }
              .navbar
                {
                    position: absolute;
                    top: 2.7rem;
                    z-index: 100;
                .navItem
                {
                
                    background-color: white;
                    color: rgba(82,74,62,.82);
                    cursor: pointer;
                    display: flex;
                    font-size: 1rem;
                    align-items: center;
                    width: 10rem;
                    padding: 0.5rem 0.5rem;
                    img
                    {
                        height: 20%;
                        width: 20%;
                    }
                    .heading-1
                    {
                     padding-left: 1rem; ;
                     margin: 0rem !important;
                     font-family: "Poppins", sans-serif;
                     font-weight: 400;
                     font-style: normal;          
                    }
            
                }
                .navItem:hover{
                    background-color: rgba(230, 223, 214, 1);
                    cursor: pointer;
                }
            } 

            }
            .thumbnail:hover
            {
                cursor: pointer;
                background-color: rgba(223, 219, 209, 0.82);
            }
            .thumbnail:hover .options
            {
                opacity: 1;
            }
            .thumbnail-title
            {
              p
              {
                padding: 0.5rem;
                font-size: 1rem;
                overflow: hidden;
                text-overflow: ellipsis;
                color: blue;
              }
            }
        }
    }
}