<div class="modal" *ngIf="showModal">
<div class="modal-content">
<div class="row-1">
 <div class="title">
    <img src="../../assets/files-fill.svg" alt="">
    <p class="heading-1">{{fileList['filename']}}</p>
 </div>
 <div class="close" (click)="closeModal()">
    <img src="../../assets/close-circle-svgrepo-com.svg" alt="">
 </div>
</div>
<div class="row-2">
  <p class="title">Share this file</p>
  <p>Anyone with this link can view</p>
  <div class="row-3">
       <form [formGroup]="signUpForm">
           <input class="inputField" type="text" placeholder="" formControlName="email">
       </form>
   <p class="warning-1" *ngIf="showRequired && emailError.errors?.['required']">Email is required</p>
   <p class="warning-2" *ngIf="showRequired && emailError.errors?.['email']">Please enter a valid Email</p>
   </div>
   <div class="row-4">
      <div></div>
      <button class="button" type="button" (click)="onSubmit()" >Share File</button>
   </div>
</div>
</div>
</div>